---
layout: default
---

<div class='row'>
  <div class='col-sm-12'>
    <p class='h2'>Welcome to Progressive Action Night!</p>
    <p class='h4'>To help coordinate and facilitate NYC trainings in preparation for the mid-term elections, we are organizing a series of weekly or biweekly trainings and convenings on Monday nights -- Progressive Action Night.</p>
    <br />
  </div>
</div>

<!-- <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><b>Next Progressive Hacknight</b> <a class='pull-right' href='/events/'>Past events &raquo;</a></h3>
  </div>
  <div class="panel-body">
    <h2><i class='fa fa-snowflake-o'></i> Happy holidays! See you in 2017! <i class='fa fa-snowflake-o'></i></h2>
    <p>We're taking the last two weeks of the year off due to the holidays. We’ll be back again on <strong>January 3rd, 2017</strong> with more civic hacking fun!</p>
  </div>
</div> -->


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><b>Next Action Night</b> <a class='pull-right' href='/events/'>Past events &raquo;</a></h3>
  </div>
  <div class="panel-body">
    {% for post in site.categories['events'] limit:1 %}
    <strong>{{ post.date | date: "%l:%M %P" }}, {{ post.date | date: "%A, %B %-d, %Y" }}</strong>

    <h2 class='no-margin-top'>
      <small>#{{post.event_id}}</small>
      <a href="{{post.url}}">{{post.title}}</a>
    </h2>
    <div class='row'>
      <div class='col-sm-7'>
        {% if post.description %}
          <p class='description-prop'>{{ post.description }}</p>
        {% endif %}
        <br />
        {% if site.time <= post.date %}
          {% if post.rsvp %}
            <a class='btn btn-success btn-lg' href="{{post.rsvp}}" target='_blank'><i class='fa fa-check-square-o'></i> RSVP</a>
          {% else %}
            <a class='btn btn-success btn-lg' href="https://www.meetup.com/Progressive-Action-Nights" target='_blank'><i class='fa fa-check-square-o'></i> RSVP</a>
          {% endif %}
        {% endif %}
        <a class='btn btn-link btn-lg' href="{{post.url}}"><i class='fa fa-info-circle'></i> Details</a>
        <a class='btn btn-link btn-lg' href="{{post.agenda}}" target='_blank'><i class='fa fa-heart'></i> Organize with us</a>
      </div>
      <div class='col-sm-5'>
        {% if post.image %}
          <a href="{{post.url}}"><img class='img-responsive img-thumbnail' src='{{post.image}}' alt='{{post.title}}' /></a>
        {% endif %}
      </div>
    </div>
      {% endfor %}
  </div>
</div>

<div class='row'>
    <div class='col-sm-12 description-prop'>

    <h3 id='about'><strong>About the Progressive Action Night</strong></h3>

    <p>To help coordinate and facilitate NYC trainings in preparation for the mid-term elections, we are organizing a series of weekly or biweekly trainings and convenings on Monday nights -- Progressive Action Night.</p>

    <p>The goal of the series, based on <a href='//progressivehacknight.org'>Progressive Hack Night</a>, will be to make actions and trainings more accessible, mobilize more volunteers, and build community and coordination among progressives.</p>

    <p>During these nights, ThoughtWorks will be available to organizations and volunteers looking to do “afterwork activism” -- volunteers who want to stop by, grab a snack, get trained, learn how to plug in, and do some work. </p>

    <p><a href='//www.meetup.com/Progressive-Action-Nights'>Follow us on Meet-Up</a></p>

    <p>If you have an organization that is looking for a space to train, or are connected to groups of volunteers, please feel free to contact Duncan (k.duncan.wall (at) gmail (dot) com) or Rapi (rapi.castillo (at) gmail (dot) com). </a>

    <h4>Goals</h4>
    <ul>
      <li>Offer a clear calendar of trainings and on-site actions (textbanks, poster-making, etc.)</li>
      <li>Create a network of trainings and actions for organizations</li>
      <li>Plug volunteers quickly and efficiently into organizations</li>
      <li>Allow organizers opportunities to meet and strategize</li>
    </ul>
  </div>
</div>
